
$font-family: "Nunito", sans-serif;

$default-foreground: rgb(30, 30, 30);
$default-background: white;
$main-font-color: #d577a3;
$background-pink: rgb(253,225,235);
$background-l-blue: rgb(114,235,207);
$background-blue: rgb(150,216,255);
$background-violet: rgb(235,114,231);
$background-red: rgb(255,124,124);
$background-grey: rgb(193,193,193);
$background-gold: rgb(255,172,86);
