@forward 'normalize';
@import 'variables';

header{
    *{
        text-decoration: none;
    }
    img {
        width: 10%;
        float: left;
    }

    h1 {
        font-size: 2.5rem;
        color: $main-font-color;
    }

    h2 {
        font-size: 1.5rem;
        width: 90%;
        color: $main-font-color;
    }

    .nav {
        background-color: $background-pink;
        padding: 1rem;
        width: 100%;
        text-align: center;
        a {
            color: $main-font-color;
            background-color: white;
            padding: .5rem;
        }
        div :hover {
            color: black;
        }
    }
}

section {

    article {
        width: 33%;
        
        min-height: 16em;

        img {
            width: 25%;
            
            padding: 0 1em 0 0;
        }

        div {
            width: 65%;
            
            padding: 1em 1em 0 0;
        }

    }
}

// Fondos

.bg-l-blue{
    background-color: $background-l-blue;
}
.bg-blue{
    background-color: $background-blue;
}
.bg-violet{
    background-color: $background-violet;
}
.bg-red{
    background-color: $background-red;
}
.bg-grey{
    background-color: $background-grey;
}
.bg-gold{
    background-color: $background-gold;
}